[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]
flask = "*"
flask-cors = "*"
dnspython="*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
start="python3 app.py"
test="python3 ./test/tests.py"
linus="echo omruti gave away his real PC for a chromebook"
